<div class="jumbotron">
  <h2>Welcome to smove's JSChallenge!</h2>
  <p class="lead">
    Now it's your turn.</br>
    Blow us away with your awesomeness.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  <p>ps. go have a look at main.js for the api call</p>



</div>

<!-- <div >
  <ul>
    <li ng-repeat="car in cars">
      <span>{{car.parking_shortname}}</span>
      <span>{{car.latitude}}</span>
      <span>{{car.longitude}}</span>
    </li>
  </ul>
</div> -->


<div >
    <div id="map"></div>


    <div>List of car availability</div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
      <!--Sidebar content-->

        Search: <input type="search" ng-model="queryText">

      </div>


      <div class="col-md-10">
        <!--Body content-->

        <ul class="marker">
          <!-- <li ng-repeat="marker in markers | filter : queryText | orderBy : 'title'"> -->
          <ul ng-repeat="marker in markers1 | filter : queryText : marker.title">

            <!-- {{marker.title}} {{markers[$index].title}} -->
            <a href="#" ng-click="openInfoWindow($event, markers[$index])">{{marker.title}}  | Cars available:{{marker.cars_available}}</a>
            <!-- {{markers.title}} -->
            <!-- <p>{{marker.cars_available}}</p> -->
          </ul>
        </ul>

      </div>
    </div>
  </div>



</div>
